.checkbox {
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    grid-gap: 10px;
    user-select: none;
    color: var(--main-font-color);
}

.checkbox input {
    height: 25px;
    width: 25px;
    cursor: pointer;
}