.popupWindowWrapper {
    height: 100svh;
    width: 100vw;
    background: rgba(14, 15, 16, 0.195);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popupWindow {
    border-radius: 5px;
    overflow: hidden;
    background: var(--main-background-color);
}