.wrapper {
    height: 100vh;
    width: 100vw;
    background: var(--main-accent-color);
    display: flex;
    flex-direction: column;
}

.formWrapper {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 500px) {
    .formWrapper {
        align-items: start;
        margin-top: 50px;
    }
}