.top {
    width: 100%;
    display: flex;
    justify-content: center;
    cursor: grab;
}

.drag {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5px;
    user-select: none;
}

.point {
    height: 4px;
    width: 4px;
    border-radius: 1px;
    background: var(--main-accent-color);
}

.header {
    padding-bottom: 10px;
}

.content {
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    grid-gap: 7px;
    background: var(--main-accent-color);
}

.bottom {
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
}

.button {
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    border: 2px solid var(--main-border-color);
    border-radius: 5px;
    outline: none;
    cursor: pointer;
}

.button:hover {
    background: var(--main-accent-color);
}

.button img {
    height: 85%;
    width: 85%;
    opacity: 0.4;
    object-fit: contain;
}