.list {
    display: flex;
    flex-direction: column;
    background: var(--main-background-color);
    position: absolute;
    bottom: 0;
    right: -180px;
    overflow: hidden;
    z-index: 1;
    border-radius: 5px;
    user-select: none;
    padding: 3px;
    box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.1);
}

.item {
    padding: 10px 15px;
    cursor: pointer;
    font-weight: 500;
}

.item:hover {
    background: var(--sub-background-color);
}