.form {
    height: auto;
    width: 400px;
    background: white;
    border-radius: 20px;
    padding: 30px;
    grid-gap: 0px;
    display: flex;
    flex-direction: column;
}

.form input:focus {
    border-bottom: 2px solid var(--main-blue-color);
}

.form h1 {
    font-weight: 600;
    margin: 0;
    padding: 0;
}

.colors {
    display: flex;
    grid-gap: 10px;
    margin-top: 20px;
}

.color {
    border-radius: 100%;
    border: 3px solid transparent;
    cursor: pointer;
}

.color[state="selected"] {
    border: 3px solid var(--main-blue-color);
}