.presentationTemplate {
    height: auto;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    grid-gap: 7px;
}

.image {
    height: 100%;
    aspect-ratio: 4 / 3;
    width: 100%;
    background: white;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    border: 1px solid var(--main-border-color);
    transition: 0.2s ease;
}

.image img {
    height: 100%;
    width: 100%;
    top: 0;
    object-fit: cover;
    left: 0;
    position: absolute;
    outline: 2px solid transparent;
}

.presentationTemplate:hover {
    cursor: pointer;
}

.presentationTemplate:hover .image {
    border: 1px solid var(--main-blue-color);
}

.presentationTemplate:active .image {
    border: 1px solid black;
}

.create {
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    width: fit-content;
    z-index: 1;
}

.line {
    height: 45px;
    width: 7px;
    background: var(--main-blue-color);
}

.line:nth-child(2) { 
    transform: rotate(90deg) translateY(15%);
}

.name {
    color: var(--main-font-color);
    font-weight: 600;
    margin-right: auto;
    margin-left: auto;
    max-width: 70%;
    text-wrap: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}